@font-face {
  font-family: 'bench nine';
  src: url('../../fonts/BenchNine/BenchNine-Light.ttf') format('ttf'),
  url('../../fonts/BenchNine/BenchNine-Light.woff2') format('woff2'),
  url('../../fonts/BenchNine/BenchNine-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'bench nine';
  src: url('../../fonts/BenchNine/BenchNine-Regular.ttf') format('ttf'),
  url('../../fonts/BenchNine/BenchNine-Regular.woff2') format('woff2'),
  url('../../fonts/BenchNine/BenchNine-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'bench nine';
  src: url('../../fonts/BenchNine/BenchNine-Bold.ttf') format('ttf'),
  url('../../fonts/BenchNine/BenchNine-Bold.woff2') format('woff2'),
  url('../../fonts/BenchNine/BenchNine-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'lulo clean';
  src: url('../../fonts/LuloClean/LuloClean-Regular.ttf') format('ttf'),
  url('../../fonts/LuloClean/LuloClean-Regular.woff2') format('woff2'),
  url('../../fonts/LuloClean/LuloClean-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'lulo clean';
  src: url('../../fonts/LuloClean/LuloClean-Bold.ttf') format('ttf'),
  url('../../fonts/LuloClean/LuloClean-Bold.woff2') format('woff2'),
  url('../../fonts/LuloClean/LuloClean-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'barlow';
  src: url('../../fonts/Barlow/Barlow-Regular.svg') format('svg'),
  url('../../fonts/Barlow/Barlow-Regular.ttf') format('ttf'),
  url('../../fonts/Barlow/Barlow-Regular.woff2') format('woff2'),
  url('../../fonts/Barlow/Barlow-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'barlow';
  src: url('../../fonts/Barlow/Barlow-Italic.svg') format('svg'),
  url('../../fonts/Barlow/Barlow-Italic.ttf') format('ttf'),
  url('../../fonts/Barlow/Barlow-Italic.woff2') format('woff2'),
  url('../../fonts/Barlow/Barlow-Italic.woff') format('woff');
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: 'barlow';
  src: url('../../fonts/Barlow/Barlow-Bold.svg') format('svg'),
  url('../../fonts/Barlow/Barlow-Bold.ttf') format('ttf'),
  url('../../fonts/Barlow/Barlow-Bold.woff2') format('woff2'),
  url('../../fonts/Barlow/Barlow-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'barlow';
  src: url('../../fonts/Barlow/Barlow-Bold-Italic.svg') format('svg'),
  url('../../fonts/Barlow/Barlow-Bold-Italic.ttf') format('ttf'),
  url('../../fonts/Barlow/Barlow-Bold-Italic.woff2') format('woff2'),
  url('../../fonts/Barlow/Barlow-Bold-Italic.woff') format('woff');
  font-weight: bold;
  font-style: italic;
}
@font-face {
  font-family: 'maitree';
  src: url('../../fonts/Maitree/Maitree-Regular.svg') format('svg'),
  url('../../fonts/Maitree/Maitree-Regular.ttf') format('ttf'),
  url('../../fonts/Maitree/Maitree-Regular.woff2') format('woff2'),
  url('../../fonts/Maitree/Maitree-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'maitree';
  src: url('../../fonts/Maitree/Maitree-Bold.svg') format('svg'),
  url('../../fonts/Maitree/Maitree-Bold.ttf') format('ttf'),
  url('../../fonts/Maitree/Maitree-Bold.woff2') format('woff2'),
  url('../../fonts/Maitree/Maitree-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}