$regular_font : "barlow",sans-serif;
$title_font   : "lulo clean",sans-serif;
$nav_font     : "bench nine",sans-serif;
$serif        : maitree, serif;

$program_color: #061C38;
$tablet_width : 1024px;
$mobile_width : 768px;
$main_width   : 1000px;

$buses_row    : 2;
$bus_height   : 300px;
$bus_width    : 300px;