$regular_font : 'Barlow-medium',sans-serif;
$title_font   : LuloCleanW01-OneBold,sans-serif;
$nav_font     : DINNeuzeitGroteskLTW01-BdCn,sans-serif;
$serif        : maitree, serif;

$main_width   : 1000px;

$buses_row    : 2;
$bus_height   : 300px;
$bus_width    : 300px;