{% extends 'base.html.twig' %}
{% set title = "Nos différentes offres de bus" %}
{% set meta_description = "Jetez un oeil à notre séléction variée de bus minis, simples, doubles et plus encore, pour trouver l'offre qui correspond à votre soirée parfaite !" %}
{% block main %}
    <section class="bus_range-frame">
        <a href="{{ path('bus_mini') }}">
            <div class="bus_range-content">
                <h4 class="bus_range-title">mini bus</h4>
                <div class="bus_range-hidden">
                    <span class="bus_range-capacity">de 1 à 9 personnes</span>
                    <div class="bus_range-icon"></div>
                </div>
            </div>
        </a>
    </section>
    <section class="bus_range-frame">
        <a href="{{ path('bus_simple') }}">
            <div class="bus_range-content">
                <h4 class="bus_range-title">classic bus</h4>
                <div class="bus_range-hidden">
                    <span class="bus_range-capacity">de 10 à 35 personnes</span>
                    <div class="bus_range-icon"></div>
                </div>
            </div>
        </a>
    </section>
    <section class="bus_range-frame">
        <a href="{{ path('bus_double') }}">
            <div class="bus_range-content">
                <h4 class="bus_range-title">double bus</h4>
                <div class="bus_range-hidden">
                    <span class="bus_range-capacity">de 36 à 55 personnes</span>
                    <div class="bus_range-icon"></div>
                </div>
            </div>
        </a>
    </section>
    <section class="bus_range-frame">
        <a href="{{ path('bus_super') }}">
            <div class="bus_range-content">
                <h4 class="bus_range-title">super double bus</h4>
                <div class="bus_range-hidden">
                    <span class="bus_range-capacity">de 36 à 70 personnes</span>
                    <div class="bus_range-icon"></div>
                </div>
            </div>
        </a>
    </section>
{% endblock %}