{% extends 'base.html.twig' %}
{% block title %}{{ current_path }}{% endblock %}
{% block main %}
    <section class="bus rev lalulu">
        <div class="front">
            <div class="content">
                <h3>la lulu</h3>
                <div class="bus-icon karaoke">Karaoké</div>
                <div class="bus-icon capacity">1 à 9 pers</div>
                <div class="bus-icon carpet">Tapis rouge</div>
                <div class="bus-icon soft">Softs inclus</div>
                <div class="bus-icon screen">Ecran HD</div>
            </div>
        </div>
        <div class="back">
            <div class="content">
                <div class="zoom"></div>
            </div>
        </div>
    </section>
{% endblock %}