{% extends 'base.html.twig' %}
{% block title %}{{ current_path }}{% endblock %}
{% block main %}
    <section class="bus rev condor">
        <div class="front">
            <div class="content">
                <h3>le condor</h3>
                <div class="bus-icon dj">DJ</div>
                <div class="bus-icon capacity">55 max</div>
                <div class="bus-icon carpet">Tapis rouge</div>
                <div class="bus-icon soft">Softs inclus</div>
                <div class="bus-icon screen">Ecran HD</div>
                <div class="bus-icon fridge">Espace frigorifié</div>
            </div>
        </div>
        <div class="back">
            <div class="content">
                <div class="zoom"></div>
            </div>
        </div>
    </section>
    <section class="bus rev bigben">
        <div class="front">
            <div class="content">
                <h3>le big ben</h3>
                <div class="bus-icon dj">DJ</div>
                <div class="bus-icon capacity">65 max</div>
                <div class="bus-icon carpet">Tapis rouge</div>
                <div class="bus-icon soft">Softs inclus</div>
                <div class="bus-icon screen">Ecran HD</div>
                <div class="bus-icon fridge">Espace frigorifié</div>
            </div>
        </div>
        <div class="back">
            <div class="content">
                <div class="zoom"></div>
            </div>
        </div>
    </section>
    <section class="bus rev darkkiss">
        <div class="front">
            <div class="content">
                <h3>le dark kiss</h3>
                <div class="bus-icon dj">DJ</div>
                <div class="bus-icon capacity">65 max</div>
                <div class="bus-icon carpet">Tapis rouge</div>
                <div class="bus-icon soft">Softs inclus</div>
                <div class="bus-icon screen">Ecran HD</div>
                <div class="bus-icon fridge">Espace frigorifié</div>
            </div>
        </div>
        <div class="back">
            <div class="content">
                <div class="zoom"></div>
            </div>
        </div>
    </section>
    <section class="bus rev seven7">
        <div class="front">
            <div class="content">
                <h3>le seven 7</h3>
                <div class="bus-icon dj">DJ</div>
                <div class="bus-icon capacity">60 max</div>
                <div class="bus-icon carpet">Tapis rouge</div>
                <div class="bus-icon soft">Softs inclus</div>
                <div class="bus-icon screen">Ecran HD</div>
                <div class="bus-icon fridge">Espace frigorifié</div>
            </div>
        </div>
        <div class="back">
            <div class="content">
                <div class="zoom"></div>
            </div>
        </div>
    </section>
{% endblock %}