{% extends 'base.html.twig' %}
{% block title %}{{ current_path }}{% endblock %}
{% block video_bg %}{% include 'default/layouts/video-bg.html.twig' with {'content' : 'index'} %}{% endblock %}
{% block main %}
    <section class="bus rev sodade">
        <div class="front">
            <div class="content">
                <h3>le sodade</h3>
                <div class="bus-icon dj">DJ</div>
                <div class="bus-icon capacity">35 max</div>
                <div class="bus-icon carpet">Tapis rouge</div>
                <div class="bus-icon soft">Softs inclus</div>
                <div class="bus-icon screen">Ecran HD</div>
                <div class="bus-icon fridge">Espace frigorifié</div>
            </div>
        </div>
        <div class="back">
            <div class="content">
                <div class="zoom"></div>
            </div>
        </div>
    </section>
    <section class="bus rev poowood">
        <div class="front">
            <div class="content">
                <h3>le poowood</h3>
                <div class="bus-icon dj">DJ</div>
                <div class="bus-icon capacity">35 max</div>
                <div class="bus-icon carpet">Tapis rouge</div>
                <div class="bus-icon soft">Softs inclus</div>
                <div class="bus-icon screen">Ecran HD</div>
                <div class="bus-icon fridge">Espace frigorifié</div>
            </div>
        </div>
        <div class="back">
            <div class="content">
                <div class="zoom"></div>
            </div>
        </div>
    </section>
    <section class="bus rev angec6">
        <div class="front">
            <div class="content">
                <h3>l'ange c6</h3>
                <div class="bus-icon dj">DJ</div>
                <div class="bus-icon capacity">35 max</div>
                <div class="bus-icon carpet">Tapis rouge</div>
                <div class="bus-icon soft">Softs inclus</div>
                <div class="bus-icon screen">Ecran HD</div>
                <div class="bus-icon fridge">Espace frigorifié</div>
            </div>
        </div>
        <div class="back">
            <div class="content">
                <div class="zoom"></div>
            </div>
        </div>
    </section>
    <section class="bus rev slinone">
        <div class="front">
            <div class="content">
                <h3>le s linone</h3>
                <div class="bus-icon dj">DJ</div>
                <div class="bus-icon capacity">35 max</div>
                <div class="bus-icon carpet">Tapis rouge</div>
                <div class="bus-icon soft">Softs inclus</div>
                <div class="bus-icon screen">Ecran HD</div>
                <div class="bus-icon fridge">Espace frigorifié</div>
            </div>
        </div>
        <div class="back">
            <div class="content">
                <div class="zoom"></div>
            </div>
        </div>
    </section>
{% endblock %}