{% extends 'base.html.twig' %}
{% set title = "Notre engagement environnemental" %}
{% set meta_description = "Louer un bus discothèque, c'est lutter contre le réchauffement climatique !" %}
{% block main %}
    <div class="sandwich">
        <h1>Notre engagement environnemental</h1>
    </div>
    <section id="our_engagement">
        <h2>Louer un bus, c'est un nouvel arbre qui pousse sur notre planète</h2>
        <ul>
            <li class="affix recycling">Chers clients, nous sommes fiers de vous informer que nous utilisons des produits recyclables dans nos services de transports événementiels !</li>
            <li class="affix earth">En optant pour des matériaux respectueux de l'environnement tels que des emballages recyclables, des contenants réutilisables, des sacs biodégradables, nous réduisons notre empreinte écologique.</li>
            <li>Nous croyons fermement en la préservation de notre planète et en la protection de l'environnement pour les générations futures.</li>
            <li class="affix seed">Nous sommes engagés pour un environnement plus propre !</li>
            <li class="affix papercup">Nous utilisons des gobelets en carton pour réduire les déchets plastiques</li>
            <li class="affix solar">Tous nos appareils fonctionnant sur batterie sont rechargés à l'énergie solaire, contribuant ainsi à une énergie plus propre.</li>
            <li class="affix e-car">Nos voitures de fonction sont électriques, offrant une mobilité respectueuse de l'environnement</li>
            <li class="affix eco">Nos packs anniversaires sont conçus de manière durable, grâce à l'énergie solaire et nos ballons biodégradables, pour offrir à votre fête une touche écologique et festive&nbsp;!</li>
        </ul>
    </section>
    <section id="reforest">
        <div class="sandwich">
            <h2>Louez un bus discothèque et participez à la reforestation&nbsp;!!</h2>
        </div>
        <p>
            En effet, BusDiscotheque s'engage avec son partenaire et associations (Trees for All,veritree et Eden Reforestation Projects) à planter des palétuviers à travers des projets de restauration des mangroves au Kenya et à Madagascar. Ces projets créent des emplois avec des salaires équitables pour les locaux et contribuent à restaurer les zones déboisées.<br>
            <br>
            Ces arbres contribuent à reverdir la planète, mais ils aident également la faune à se rétablir et permettent aux communautés de prospérer.
        </p>
        <div id="icons">
            <div id="phrase"></div>
            <div id="eco2"></div>
            <div id="earth2"></div>
            <div id="earth3"></div>
        </div>
        <div id="process">
            <div></div>
            <div></div>
            <div></div>
            <div></div>
        </div>
    </section>
{% endblock %}