{% extends 'base.html.twig' %}
{% set title = "Mentions légales" %}
{% block main %}
    <h1>mentions légales</h1>
    <h2>Propriétaire du site</h2>
    <p>
        Le présent site internet est géré par la société FLY BUS, SASU au capital de 1.000 €<br>
        <br>
        RCS Pontoise B : 978 049 302<br>
        Numéro de TVA intracommunautaire : FR59978049302<br>
        SIRET : 97804930200018<br>
        Code APE : 8230Z<br>
        <br>
        Le siège social de la société FLY BUS est situé au :<br>
        27 Rue du Gros Murger<br>
        95220 Herblay-sur-Seine<br>
        <br>
        Le site est hébergé par la société <a href="https://www.ovhcloud.com/fr/">OVH SAS</a>.
    </p>
{% endblock %}