{% extends 'base.html.twig' %}
{% set title = "Médias : Nos photos et vidéos" %}
{% set meta_description = "Nos prestations en images : voyez à quoi ressemblent nos super soirées en bus dans nos galleries photo et vidéo !" %}
{% block main %}
    <h1>Media</h1>
    <section id="video">
        <h2>Vidéos</h2>
        {% for video in medias['videos'] %}
            <div class="row">
                <h3>{{ video.title }}</h3>
                <div class="content">
                    {% for content in video['content'] %}
                        <div class="video" style="background-image:url({{ asset('build/images/video/media/still/'~content['name']~'.webp') }});"><div class="overlay"></div><video loop"><source src="{{ asset('build/images/video/media/video/'~content['name']~'.mp4') }}" type="video/mp4"/></video></div>
                    {% endfor %}
{#                    <div class="toggle hide">Masquer</div>#}
                </div>
                <div class="toggle show">Dévoiler</div>
            </div>
        {% endfor %}
    </section>

{% endblock %}