{% extends 'base.html.twig' %}
{% set title = "Nos packs" %}
{% set meta_description = "Nous vous proposons des formules variées, découvrez celle à la hauteur de votre soirée !" %}
{% block main %}
    <h1>nos packs</h1>
    <section class="pack">
        <h2>middle bus</h2>
        <div class="pack-logos">
            <div class="pack-logo driver"></div>
            <div class="pack-logo agent"></div>
            <div class="pack-logo carpet"></div>
            <div class="pack-logo bluetooth"></div>
            <div class="pack-logo softs"></div>
            <div class="pack-logo cups"></div>
            <div class="pack-logo towels"></div>
            <div class="pack-logo ice"></div>
            <div class="pack-logo coat-check"></div>
            <div class="pack-logo toilets"></div>
            <div class="pack-logo fridge"></div>
            <div class="pack-logo screens"></div>
            <div class="pack-logo lights"></div>
        </div>
        <p class="pack-list">
            - Bus jusqu'a 20 participants<br>
            - Mise à disposition du bus 15 minutes avant événement<br>
            - Chauffeur & Agent d'acceuil à votre dispositon<br>
            - Entrée de vos convives avec un tapis rouge<br>
            - Kit Bluetooth (Diffusez votre playslit directement avec votre téléphone avec nos enceintes)<br>
            - Boissons softs : eau, jus et sodas<br>
            - Consommables : Gobelets, serviettes de table, glaçons et sacs poubelles<br>
            - Vestiaire<br>
            - Toilettes d'appoint, papier toilette<br>
            - Espace frigorifique (Taille standard 250L)<br>
            - Mise à disposition des écrans pour diffuser vos plus beaux souvenirs<br>
            - Diffusez votre texte personnaslisé sur l'afficheur led à l'avant du bus visible de l'extérieur<br>
            - Nettoyage + assurance + carburant compris
        </p>
    </section>
    <section class="pack">
        <h2>classic bus</h2>
        <div class="pack-logos">
            <div class="pack-logo driver"></div>
            <div class="pack-logo dj"></div>
            <div class="pack-logo carpet"></div>
            <div class="pack-logo softs"></div>
            <div class="pack-logo cups"></div>
            <div class="pack-logo towels"></div>
            <div class="pack-logo ice"></div>
            <div class="pack-logo coat-check"></div>
            <div class="pack-logo toilets"></div>
            <div class="pack-logo fridge"></div>
            <div class="pack-logo screens"></div>
            <div class="pack-logo lights"></div>
        </div>
        <p class="pack-list">
            - Bus jusqu'a 35 participants<br>
            - Mise à disposition du bus 15 minutes avant événement<br>
            - Chauffeur & DJ d'acceuil à votre dispositon<br>
            - Entrée de vos convives avec un tapis rouge<br>
            - Boissons softs : eau, jus et sodas<br>
            - Consommables : Gobelets, serviettes de table, glaçons et sacs poubelles<br>
            - Vestiaire<br>
            - Toilettes d'appoint, papier toilette<br>
            - Espace frigorifique (Taille standard 250L)<br>
            - Mise à disposition des écrans pour diffuser vos plus beaux souvenirs<br>
            - Diffusez votre texte personnaslisé sur l'afficheur led à l'avant du bus visible de l'extérieur<br>
            - Nettoyage + assurance + carburant compris
        </p>
    </section>
    <section class="pack">
        <h2>double bus</h2>
        <div class="pack-logos">
            <div class="pack-logo driver"></div>
            <div class="pack-logo dj"></div>
            <div class="pack-logo barman"></div>
            <div class="pack-logo carpet"></div>
            <div class="pack-logo softs"></div>
            <div class="pack-logo cups"></div>
            <div class="pack-logo towels"></div>
            <div class="pack-logo ice"></div>
            <div class="pack-logo coat-check"></div>
            <div class="pack-logo toilets"></div>
            <div class="pack-logo fridge"></div>
            <div class="pack-logo screens"></div>
            <div class="pack-logo lights"></div>
        </div>
        <p class="pack-list">
            - Bus jusqu'a 55 participants<br>
            - Mise à disposition du bus 15 minutes avant événement<br>
            - Chauffeur & Barman & DJ à votre dispositon<br>
            - Entrée de vos convives avec un tapis rouge<br>
            - Boissons softs : eau, jus et sodas<br>
            - Consommables : Gobelets, serviettes de table, glaçons et sacs poubelles<br>
            - Vestiaire<br>
            - Toilettes d'appoint, papier toilette<br>
            - Espace frigorifique (Taille standard 250L)<br>
            - Mise à disposition des écrans pour diffuser vos plus beaux souvenirs<br>
            - Diffusez votre texte personnaslisé sur l'afficheur led à l'avant du bus visible de l'extérieur<br>
            - Nettoyage + assurance + carburant compris
        </p>
    </section>
    <section class="pack">
        <h2>double bus terrasse</h2>
        <div class="pack-logos">
            <div class="pack-logo driver"></div>
            <div class="pack-logo dj"></div>
            <div class="pack-logo barman"></div>
            <div class="pack-logo carpet"></div>
            <div class="pack-logo softs"></div>
            <div class="pack-logo cups"></div>
            <div class="pack-logo towels"></div>
            <div class="pack-logo ice"></div>
            <div class="pack-logo coat-check"></div>
            <div class="pack-logo toilets"></div>
            <div class="pack-logo fridge"></div>
            <div class="pack-logo screens"></div>
            <div class="pack-logo lights"></div>
            <div class="pack-logo smoke"></div>
            <div class="pack-logo bubbles"></div>
        </div>
        <p class="pack-list">
            - Bus jusqu'a 55 participants<br>
            - Mise à disposition du bus 15 minutes avant événement<br>
            - Chauffeur & Barman & DJ à votre dispositon<br>
            - Entrée de vos convives avec un tapis rouge<br>
            - Boissons softs : eau, jus et sodas<br>
            - Consommables : Gobelets, serviettes de table, glaçons et sacs poubelles<br>
            - Vestiaire<br>
            - Toilettes d'appoint, papier toilette<br>
            - Espace frigorifique (Taille standard 250L)<br>
            - Mise à disposition des écrans pour diffuser vos plus beaux souvenirs<br>
            - Diffusez votre texte personnaslisé sur l'afficheur led à l'avant du bus visible de l'extérieur<br>
            - Accès à notre terrasse pendant que le véhicule roule et de regarder les plus beaux monuments de Paris d'une autre façon<br>
            - Machine à fumer<br>
            - Machine à bulles<br>
            - Nettoyage + assurance + carburant compris
        </p>
    </section>
    <section class="pack">
        <h2>super double bus</h2>
        <div class="pack-logos">
            <div class="pack-logo driver"></div>
            <div class="pack-logo dj"></div>
            <div class="pack-logo barman"></div>
            <div class="pack-logo carpet"></div>
            <div class="pack-logo softs"></div>
            <div class="pack-logo cups"></div>
            <div class="pack-logo towels"></div>
            <div class="pack-logo ice"></div>
            <div class="pack-logo coat-check"></div>
            <div class="pack-logo toilets"></div>
            <div class="pack-logo fridge"></div>
            <div class="pack-logo screens"></div>
            <div class="pack-logo lights"></div>
            <div class="pack-logo smoke"></div>
            <div class="pack-logo bubbles"></div>
            <div class="pack-logo arcade"></div>
        </div>
        <p class="pack-list">
            - Bus jusqu'a 70 participants<br>
            - Mise à disposition du bus 15 minutes avant événement<br>
            - Chauffeur & Barman & DJ à votre dispositon<br>
            - Entrée de vos convives avec un tapis rouge<br>
            - Boissons softs : eau, jus et sodas<br>
            - Consommables : Gobelets, serviettes de table, glaçons et sacs poubelles<br>
            - Vestiaire<br>
            - Toilettes d'appoint, papier toilette<br>
            - Espace frigorifique (Taille standard 250L)<br>
            - Mise à disposition des écrans pour diffuser vos plus beaux souvenirs<br>
            - Diffusez votre texte personnaslisé sur l'afficheur led à l'avant du bus visible de l'extérieur<br>
            - Accès à notre terrasse pendant que le véhicule roule et de regarder les plus beaux monuments de Paris d'une autre façon<br>
            - Machine à fumer<br>
            - Machine à bulles<br>
            - Pack Arcade<br>
            - Nettoyage + assurance + carburant compris
        </p>
    </section>
{% endblock %}