{% extends 'base.html.twig' %}
{% block title %}{{ current_path }}{% endblock %}
{% block video_bg %}{% include 'default/layouts/video-bg.html.twig' with {'content' : 'pricing'} %}{% endblock %}
{% block main %}
    <section id="prices" class="shadow">
        <h1>nos offres</h1>
        <table>
            <thead>
                <tr>
                    <td></td>
                    <td>Mini Bus</td>
                    <td>Classic Bus</td>
                    <td>Double Bus</td>
                    <td>Double Bus Terrasse</td>
                    <td>Super Double Bus</td>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Places</td>
                    <td>9</td>
                    <td>30</td>
                    <td>65</td>
                    <td>65</td>
                    <td>65</td>
                </tr>
                <tr>
                    <td>Longueur</td>
                    <td>7 m</td>
                    <td>12 m</td>
                    <td>18 m</td>
                    <td>18 m</td>
                    <td>18 m</td>
                </tr>
                <tr>
                    <td>Durée</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>1h</td>
                    <td>290€</td>
                    <td>890€</td>
                    <td>1090€</td>
                    <td>1190€</td>
                    <td>1290€</td>
                </tr>
                <tr>
                    <td>2h</td>
                    <td>390€</td>
                    <td>990€</td>
                    <td>1190€</td>
                    <td>1290€</td>
                    <td>1390€</td>
                </tr>
                <tr>
                    <td>3h</td>
                    <td>490€</td>
                    <td>1090€</td>
                    <td>1290€</td>
                    <td>1390€</td>
                    <td>1490€</td>
                </tr>
                <tr>
                    <td>4h</td>
                    <td>590€</td>
                    <td>1190€</td>
                    <td>1390€</td>
                    <td>1490€</td>
                    <td>1590€</td>
                </tr>
            </tbody>
        </table>
        <p>
            Tous les prix indiqués sont TTC. Retrouvez tous les éléments inclus dans votre sortie dans la rubrique "Votre événement".<br>
            Pour toute demande de devis spécifique et pour tout supplément, veuillez nous contacter ci-dessous.
        </p>
    </section>
    <section id="crypto" class="shadow dark">
        <div class="description">
            <p class="big">
                Payez en crypto monnaie et bénéficiez d'un avantage exceptionnel&nbsp;!
            </p>
            <p>
                En plus des moyens de paiements habituels (CB, virement), Bus Discotheque Paris vous offre la possibilité d'utiliser les crypto monnaies Bitcoin, Ethereum et Shiba pour finaliser la réservation votre événement.
            </p>
            <p>
                <span class="bold">Le bonus ?</span> Nous vous offrons un pack VIP comprenant 3 bouteilles de champagne, valable pour toute réservation Classic Bus et Double Bus&nbsp;!
            </p>
        </div>
        <div class="icons">
            <div class="bitcoin"></div>
            <div class="ethereum"></div>
            <div class="shiba"></div>
        </div>
    </section>
{% endblock %}