.bus{
  min-width:$bus_width;
  width:20vw;
  min-height:$bus_height;
  height:20vw;
  flex-basis:20vw;
  margin-top:45px;
  position:relative;
  cursor:pointer;
  .front,.back {
    @include background-prs();
  }
  .front{
    @include position();
    .content {
      @include position();
      background-color:rgba(0,0,0,.5);
      padding-top:65px;
      color:#FFF;
      display: flex;
      flex-flow: row wrap;
      justify-content:space-around;
      h3 {
        width:100%;
        text-align:center;
        padding:0;
      }
      h4 {
        text-transform: uppercase;
        margin-top:-25px;
      }
    }
  }
  .back{
    @include position();
    .content{
      @include position();
      background-color:rgba(0,0,0,.5);
      color:#FFF;
      display:flex;
      flex-direction:column;
      align-items:center;
      justify-content:space-around;
      .zoom{
        background-image:url(../../images/icons/zoom.webp);
        @include background-prs($size:contain);
        height:50px;
        width:50px;
      }
    }
    @media screen and (max-width:$tablet_width){
      display:none;
      visibility:hidden;
      opacity:0;
    }
  }
  &-icon {
    width:calc(50% - 39px);
    padding-left:39px;
    font-family:$serif;
    font-weight:bold;
    @include background-prs(15px top, no-repeat, auto);
    &.capacity{background-image:url(../../images/icons/bus/capacity.webp);background-position:8px top;}
    &.agent{background-image:url(../../images/icons/bus/agent.webp);background-position:7px -2px;background-size: 28px;}
    &.arcade{background-image:url(../../images/icons/bus/arcade.webp);background-position:-20px -25px;}
    &.bluetooth{background-image:url(../../images/icons/bus/bluetooth.webp);background-position: 6px -2px;background-size: 30px;}
    &.bubble{background-image:url(../../images/icons/bus/bubble.webp);background-position:-8px -17px;}
    &.carpet_b{background-image:url(../../images/icons/bus/carpet.webp);background-position:3px top;}
    &.carpet_r{background-image:url(../../images/icons/bus/carpet.webp);background-position:3px top;}
    &.dj{background-image:url(../../images/icons/bus/dj.webp);background-position:9px top;}
    &.fridge{background-image:url(../../images/icons/bus/fridge.webp);background-position:8px top;}
    &.karaoke{background-image:url(../../images/icons/bus/karaoke.webp);background-position:8px top;}
    &.screen{background-image:url(../../images/icons/bus/screen.webp);background-position:-5px top;}
    &.soft{background-image:url(../../images/icons/bus/soft.webp);background-position:12px top;}
    &.smoke{background-image:url(../../images/icons/bus/smoke.webp);background-position:-21px -29px;}
  }
  &#minibusdisco {
    .front {background-image: url(../../images/photo/bus/mini/minibusdisco/front.webp);}
    .back {background-image: url(../../images/photo/bus/mini/minibusdisco/back.webp);}
  }
  &#miniboss {
    .front {background-image: url(../../images/photo/bus/middle/miniboss/front.webp);}
    .back {background-image: url(../../images/photo/bus/middle/miniboss/back.webp);}
  }
  &#slinone {
    .front {background-image: url(../../images/photo/bus/classic/slinone/front.webp);}
    .back {background-image: url(../../images/photo/bus/classic/slinone/back.webp);}
  }
  &#sodade {
    .front {background-image: url(../../images/photo/bus/classic/sodade/front.webp);}
    .back {background-image: url(../../images/photo/bus/classic/sodade/back.webp);}
  }
  &#angec6 {
    .front {background-image: url(../../images/photo/bus/classic/angec6/front.webp);}
    .back {background-image: url(../../images/photo/bus/classic/angec6/back.webp);}
  }
  &#poowood {
    .front {background-image: url(../../images/photo/bus/classic/poowood/front.webp);}
    .back {background-image: url(../../images/photo/bus/classic/poowood/back.webp);}
  }
  &#carnaval {
    .front {background-image: url(../../images/photo/bus/classic/carnaval/front.webp);}
    .back {background-image: url(../../images/photo/bus/classic/carnaval/back.webp);}
  }
  &#starlord {
    .front {background-image: url(../../images/photo/bus/classic/starlord/front.webp);}
    .back {background-image: url(../../images/photo/bus/classic/starlord/back.webp);}
  }
  &#jeffline {
    .front {background-image: url(../../images/photo/bus/classic/jeffline/front.webp);}
    .back {background-image: url(../../images/photo/bus/classic/jeffline/back.webp);}
  }
  &#condor {
    .front {background-image: url(../../images/photo/bus/double/condor/front.webp);}
    .back {background-image: url(../../images/photo/bus/double/condor/back.webp);}
  }
  &#bigben {
    .front {background-image: url(../../images/photo/bus/double/bigben/front.webp);}
    .back {background-image: url(../../images/photo/bus/double/bigben/back.webp);}
  }
  &#darkkiss {
    .front {background-image: url(../../images/photo/bus/double/darkkiss/front.webp);}
    .back {background-image: url(../../images/photo/bus/double/darkkiss/back.webp);}
  }
  &#seven7 {
    .front {background-image: url(../../images/photo/bus/double/seven7/front.webp);}
    .back {background-image: url(../../images/photo/bus/double/seven7/back.webp);}
  }
  &#yoshi {
    .front {background-image: url(../../images/photo/bus/double/yoshi/front.webp);}
    .back {background-image: url(../../images/photo/bus/double/yoshi/back.webp);}
  }
  &#leviator {
    .front {background-image: url(../../images/photo/bus/super/leviator/front.webp);}
    .back {background-image: url(../../images/photo/bus/super/leviator/back.webp);}
  }
}