#mobile_nav{
  position:fixed;
  top:0;bottom:0;left:0;
  background-color:#000;
  visibility:hidden;
  width:100%;
  max-width:0;
  transition:max-width ease-in-out .2s;
  z-index:10;
  color:#FFF;
  overflow:scroll;
  &.active{
    visibility:visible;
    max-width:100%;
  }
  .options{
    height:70px;
    .close {
      width:40px;
      height:40px;
      margin:5px;
      float:right;
      cursor:pointer;
      color:#FFF;
      font-size:40px;
      position:absolute;
      right:0;
    }
  }
  > .menu{
    display:flex;
    height: 100%;
    flex-direction:column;
    align-items: stretch;
    width:calc(100% - 100px);
    margin:0 0 0 80px;
    letter-spacing:0;

    > .item:nth-of-type(1)>span{
        background-image:url(../../images/logo.webp);
        background-position:left center;
        background-repeat:no-repeat;
        background-size:contain;
    }
    > .item{
      display:flex;
      flex-direction:row;
      flex-wrap:wrap;
      width:calc(100% - 50px);
      transition: all .6s;
      margin:10px 0;

      span{
        width:100%;
        height:50px;
        font-size:32px;
        font-family:$nav_font;
        display:flex;
        flex-direction:column;
        justify-content:center;
        >a {
          display:inline-block;
          width:100%;
          height:100%;
        }
      }

      .icons{
        //display:none;
      }

      &.droppable{
        position:relative;
        .chevron{
          display:inline-block;
          content:">";
          position:absolute;
          right:-35px;
          top:5px;
          transition:transform .2s;
          line-height:40px;
          font-size:40px;
          cursor:pointer;
        }
        .drop{
          //transform:scale(0, 0);
          max-height:0;
          transition: all ease-in-out .3s;
          min-width:100%;
          padding-left:50px;
          overflow:hidden;
          .item{
            width:100%;
            &.current{
              font-weight:bold;
              text-shadow:1px 1px 10px #FFF;
            }
          }
        }
        &.active{
          .chevron{
            transform:rotate(90deg);
          }
          >.drop{
            max-height:1000px;
          }
        }
      }
      &.current{
        font-weight:bold;
        text-shadow:1px 1px 10px #FFF;
      }
    }
  }
}