div.modal{
  display:none;
  visibility:hidden;
  opacity:0;
  @include position(fixed);
  background:#FFF;
  z-index:1;
  overflow:hidden;
  .close{
    @include background-prs();
    background-image: url(../../images/icons/close.png);
    position:absolute;
    top:20px;
    right:20px;
    width:26px;
    height:26px;
    cursor:pointer;
    @media all and (max-width:$mobile_width_modal_slider){
      top:10px;
      right:10px;
      width:20px;
      height:20px;
    }
  }
  .slider{
    margin:60px 0 0 50px;
    width:100%;
    @media all and (max-width:$mobile_width_modal_slider){
      margin:40px 0 0;
      .slick-slide{
        margin-left:0;
        margin-right:0;
      }
    }
    .slick-prev,.slick-next{
      top:300px;
      width:14px;
      height:26px;
      @media all and (max-width:$mobile_width_modal_slider){
        display:none;
      }
      @include background-prs();
      &:before{
        content:"";
      }
    }
    .slick-prev{background-image:url(../../images/icons/prev.png);}
    .slick-next{background-image:url(../../images/icons/next.png);left:calc(54% + 15px);}
    .slick-slide{
      position:relative;
      display:flex;
      @media all and (max-width:$mobile_width_modal_slider){
        flex-direction:column;
      }
      img{
        width:54%;
        @media all and (max-width:$mobile_width_modal_slider){
          width:100%
        }
      }
      p{
        padding-top:200px;
        width:calc(46% - 50px);
        @media all and (max-width:$mobile_width_modal_slider){
          padding-top:0;
          width:100%
        }
        font-size:28px;
        text-align:center;
      }
    }
  }
}
div.modal.active{
  animation: APPEAR .5s;
  animation-fill-mode: both;

  opacity:1;
  display:block;
  visibility:visible;
}
@keyframes APPEAR{
  from{
    opacity:0;
    display:none;
    visibility:hidden;
  }
  to{
    opacity:1;
    display:block;
    visibility:visible;
  }
}