@media screen and (min-width:$tablet_width) {
  .rev {
    .front, .back {
      @include position();
      transition: opacity .5s;
    }
    .front {
      opacity:1;
    }

    .back {
      opacity:0;
    }
    &:hover {
      .front {
        opacity:1;
      }

      .back {
        opacity:1;
      }
    }
  }
}