.video{
  position:relative;
  >div.overlay{
    pointer-events: none;
    background-image:url(../../images/icons/play.webp);
    z-index:1;
    @include background-prs(center center, no-repeat, 15%);
    @include position();
  }
  video{
    cursor:pointer;
  }
}
.video.playing{
  >div.overlay{
    display:none;
    visibility:hidden;
    opacity:0;
  }
}