#index {
  main{
    align-self:stretch;
  }
  .shadow {
    align-self: stretch;
    text-align: center;
    background-color: rgba(24, 24, 24, 0.78);
    color: #FFF;
    justify-content: center;

    p {
      max-width: $main_width;
      text-align: justify;
      font-size: 18px;
      line-height: 1.3em;
      padding:0 10px;
      @include mobile-width(calc(100% - 20px));
    }
  }
  .column{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .bothsides{
    display:flex;
    flex-direction:row;
    @media screen and (max-width:$mobile_width){
      flex-direction:column;
    }

    >div:nth-of-type(1){
      max-width:$main_width * 0.4;
      @include mobile-width(calc(100% - 14px));
      display:flex;
      flex-direction: column;
      padding:0 7px;
    }
    >div:nth-of-type(2){
      max-width:$main_width * 0.6;
      margin-top:90px;
      @media screen and (max-width:$mobile_width){
        width:100%;
        margin-top:0;
      }
      video{
        width:100%;
      }
    }
  }
  .contact{
     display:flex;
     flex-direction: column;

     &-tel{
       font-size:20px;
     }
     &-form{
       display:flex;
       justify-content:space-between;
       input,textarea {
         color: #1A2DF3;
         &:hover{
           background-color: rgba(26, 45, 243, 0.4);
         }
         &.half{
           width:47%;
         }
         &.full{
           width:100%;
         }
       }
     }
    &-social{
      &-icons{
        display:flex;
        flex-direction:row;
        justify-content:space-around;
        width:100%;
        min-height:60px;
        >div{
          flex-basis:60px;
          @include background-prs(center center, no-repeat, contain);
          a{
            display:inline-block;
            width:100%;
            height:100%;
          }
        }
        &-facebook{
          background-image:url(../../images/icons/facebook.svg);
        }
        &-instagram{
          background-image:url(../../images/icons/instagram.svg);
        }
      }
   }
  }
  #party.slider{
    opacity:0;
    width:100%;
    max-width:$main_width;
    @media all and (max-width:$mobile_width){
      .slick-prev,.slick-next{
        display:none !important;
      }
    }
    .slick-slide{
      cursor:pointer;
    }
  }
}