#media {
  h1 {
    font-size: 40px;
    margin: 40px 0 20px;
    width: 100%;
    text-align: center;
  }

  section {
    width: 80%;

    h2 {
      font-size: 35px;
      margin: 40px 0 20px;
      width: 100%;
      text-align: center;
    }

    .row {
      h3 {
        font-size: 40px;
        text-align: center;
        margin: 80px 0 40px;
        @media all and (max-width: $tablet_width) {
          font-size: 25px;
        }
        @media all and (max-width: $mobile_width) {
          font-size: 20px;
        }
      }
      .toggle{
        color:#FFF;
        margin-left:120px;
        cursor:pointer;
        &.show{
          display:none;
        }
        &.hide{
          display:block;
        }
      }

      .content {
        width: 100%;
        overflow:hidden;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        gap: 15px;
        @media all and (max-width: $mobile_width) {
          flex-direction: column;
        }
        .video{
          @include background-prs(top center, no-repeat, contain);
        }
      }
      &.hidden {
        .content {
          height: 0;
        }
        .toggle.show{
          display:block;
        }
      }
    }

    @media all and (max-width: $tablet_width) {
      width: 100%;
    }
  }
}