#options{
  background-image:url(../../images/background/options.webp);
  background-attachment: fixed;
  @include background-prs(center top);
  main{
    align-self:stretch;
    #traiteur {
      table{
        width: $main_width;
        @include mobile-width();
        font-size:18px;
        text-align:center;
        tr{
          height:35px;
        }
      }
      >p{
        width: $main_width;
        @include mobile-width(calc(100% - 30px));
        border-bottom:1px solid #333333;
        padding:15px;
        font-size:17px;
        text-align:center;
      }
      > * {
        animation-duration: 2s;
        animation-name: slide-center;
      }
    }
    section{
      color:#FAFAFA;
      width: 100%;
      margin: 40px 0 0;
      display:flex;
      flex-direction:column;
      align-items:center;
      &.shadow{
        background-color: rgba(0,0,0,.67);
        padding-bottom:50px;
      }
      h1,h2{
        margin:40px 0;
        font-size:20px;
        text-transform: uppercase;
      }
      @keyframes slide-center {
        from {
          margin-left:-400px;
        }

        to {
          margin-left:0;
        }
      }
      div.row{
        display:flex;
        flex-flow:row wrap;
        justify-content:space-around;
        align-items:center;
        text-align:center;
        width:$main_width;
        @include mobile-width();
        >div{
          display:flex;
          flex-direction:column;
          justify-content:flex-start;
          align-items:center;
          max-width:30%;
          .icon{
            width:140px;
            height:60px;
            @include background-prs();
          }
          &:nth-of-type(1) div.icon{
            background-image:url(../../images/icons/options/birthday_kid.webp);
          }
          &:nth-of-type(2) div.icon{
            width:70px;
            height:44px;
            background-image:url(../../images/icons/options/birthday_adult.webp);
          }
          &:nth-of-type(3) div.icon{
            width:70px;
            height:44px;
            background-image:url(../../images/icons/options/arcade.webp);
          }
          &:nth-of-type(4) div.icon{
            background-image:url(../../images/icons/options/hostess.webp);
          }
          &:nth-of-type(5) div.icon{
            background-image:url(../../images/icons/options/karaoke.webp);
          }
          &:nth-of-type(6) div.icon{
            background-image:url(../../images/icons/options/free.webp);
          }
          h3{
            font-size:12px;
            text-transform:uppercase;
          }
          h4{
            font-size:18px;
            text-transform:uppercase;
          }
          p{
            font-size:12px;
            text-transform:uppercase;
            line-height:20px;
          }
          @media all and (max-width:$tablet_width){
            min-width:45%;
          }
          @media all and (max-width:$mobile_width){
            min-width:80%;
          }
        }
      }
      div.slider{
        opacity:0;
        width:100%;
        max-width:$main_width;
        @include mobile-width();
        @media all and (max-width:$tablet_width){
          .slick-prev,.slick-next{
            display:none !important;
          }
        }
        img.slick-slide{
          width:168px;
          height:480px;
          object-fit: cover;
          cursor:pointer;
        }
      }
    }
  }
}