#options{
  background-image:url(../../images/background/options.webp);
  background-attachment: fixed;
  @include background-prs(center top);
  main{
    align-self:stretch;
    #traiteur {
      table{
        width: $main_width;
        @include mobile-width();
        font-size:18px;
        text-align:center;
        tr{
          height:35px;
        }
      }
      >p{
        width: $main_width;
        @include mobile-width(calc(100% - 30px));
        border-bottom:1px solid #333333;
        padding:15px;
        font-size:17px;
        text-align:center;
      }
      > * {
        animation-duration: 2s;
        animation-name: slide-center;
      }
    }
    section{
      color:#FAFAFA;
      width: 100%;
      margin: 40px 0 0;
      display:flex;
      flex-direction:column;
      align-items:center;
      &.shadow{
        background-color: rgba(0,0,0,.67);
        padding-bottom:50px;
      }
      h1{
        margin:40px 0;
        font-size:20px;
        text-transform: uppercase;
      }
      h2{
        margin:40px 0 0;
        font-size:20px;
        text-transform: uppercase;
        @media all and (max-width:$mobile_width){
          font-size:15px;
        }
      }
      h3{
        margin:20px 0;
        font-size:16px;
        text-transform: uppercase;
        &.christmas{
          background-image:url('../../images/icons/options/christmas_santa.webp');
          background-position: right top;
          padding: 25px;
          background-size: 30px;
          background-repeat: no-repeat;
          &::after{
            background-image: url('../../images/icons/options/christmas_string.webp');
            display: block;
            width: 100%;
            height: 50px;
            background-size: 70%;
            content: " ";
            background-position: center 53%;
            background-repeat: no-repeat;
          }
          @media all and (max-width:$mobile_width){
            font-size:13px;
            background-position: 110% -45%;
          }
        }
      }
      @keyframes slide-center {
        from {
          margin-left:-400px;
        }

        to {
          margin-left:0;
        }
      }
      div.row{
        display:flex;
        flex-flow:row wrap;
        justify-content:space-around;
        align-items:flex-start;
        text-align:center;
        width:$main_width;
        @include mobile-width();
        >div{
          display:flex;
          flex-direction:column;
          justify-content:flex-start;
          align-items:center;
          max-width:30%;
          .icon{
            width:140px;
            height:100px;
            margin-bottom:10px;
            @include background-prs(center center, no-repeat, contain);
          }
          &#agent div.icon{background-image:url(../../images/icons/options/agent.webp);}
          &#arcade div.icon{background-image:url(../../images/icons/options/arcade.webp);}
          &#balloons div.icon{background-image:url(../../images/icons/options/balloons.webp);}
          &#balloons_age div.icon{background-image:url(../../images/icons/options/balloons_age.webp);}
          &#beer div.icon{background-image:url(../../images/icons/options/beer.webp);}
          &#birthday_adult div.icon{background-image:url(../../images/icons/options/birthday_adult.webp);}
          &#birthday_kid div.icon{background-image:url(../../images/icons/options/birthday_kid.webp);}
          &#bracelets div.icon{background-image:url(../../images/icons/options/bracelets.webp);}
          &#card div.icon{background-image:url(../../images/icons/options/card.webp);}
          &#champagne div.icon{background-image:url(../../images/icons/options/champagne.webp);}
          &#christmas_hat div.icon{background-image:url(../../images/icons/options/christmas_hat.webp);}
          &#christmas_headclip div.icon{background-image:url(../../images/icons/options/christmas_headclip.webp);}
          &#christmas_pack div.icon{background-image:url(../../images/icons/options/christmas_pack.webp);}
          &#coin_pusher div.icon{background-image:url(../../images/icons/options/coin_pusher.webp);}
          &#droit_bouchon div.icon{background-image:url(../../images/icons/options/droit_bouchon.webp);}
          &#frais_bouche div.icon{background-image:url(../../images/icons/options/frais_bouche.webp);}
          &#glasses div.icon{background-image:url(../../images/icons/options/glasses.webp);}
          &#hostess div.icon{background-image:url(../../images/icons/options/hostess.webp);}
          &#insurance div.icon{background-image:url(../../images/icons/options/insurance.webp);}
          &#karaoke div.icon{background-image:url(../../images/icons/options/karaoke.webp);}
          &#necklace div.icon{background-image:url(../../images/icons/options/necklace.webp);}
          &#photobooth div.icon{background-image:url(../../images/icons/options/photobooth.webp);}
          &#pinata div.icon{background-image:url(../../images/icons/options/pinata.webp);}
          &#redbull div.icon{background-image:url(../../images/icons/options/redbull.webp);}
          &#spinner div.icon{background-image:url(../../images/icons/options/spinner.webp);}
          &#storage div.icon{background-image:url(../../images/icons/options/storage.webp);}
          &#sticks div.icon{background-image:url(../../images/icons/options/sticks.webp);}
          &#wine div.icon{background-image:url(../../images/icons/options/wine.webp);}
          h4{
            font-size:12px;
            text-transform:uppercase;
          }
          h5{
            font-size:18px;
            text-transform:uppercase;
            margin-top:10px;
          }
          p{
            font-size:12px;
            text-transform:uppercase;
            line-height:20px;
          }
          @media all and (max-width:$tablet_width){
            min-width:45%;
          }
          @media all and (max-width:$mobile_width){
            min-width:80%;
          }
        }
      }
      div.slider{
        opacity:0;
        width:100%;
        max-width:$main_width;
        @include mobile-width();
        @media all and (max-width:$tablet_width){
          .slick-prev,.slick-next{
            display:none !important;
          }
        }
        img.slick-slide{
          width:168px;
          height:480px;
          object-fit: cover;
          cursor:pointer;
        }
      }
    }
  }
}