#pricing{
  /*#fullscreen-bg{
    top:-1500px;
  }*/
  main{
    align-self:stretch;
    section{
      color:#FAFAFA;
      &.shadow{
        background-color: rgba(0,0,0,.37);
        &.dark{
          background-color: rgba(0,0,0,.67);
        }
      }
      &#prices {
        width: 100%;
        display:flex;
        align-items:center;
        margin: 40px 0 0;
        flex-direction:column;
        > * {
          animation-duration: 2s;
          animation-name: slide-center;
        }
        h1 {
          width: $main_width;
          @include mobile-width();
          margin:0;
          font-size: 20px;
        }
        table {
          width: $main_width;
          font-size: 18px;
          text-align: center;
          table-layout: fixed;
          @media screen and (max-width:$tablet_width){
            width:100%;
            font-size:14px;
          }
          tr {
            height: 35px;
          }
        }
        > p {
          width: $main_width - 30px;
          @include mobile-width(calc(100% - 30px));
          font-style: italic;
          border-bottom: 1px solid #333333;
          padding: 15px;
          font-size: 13px;
          text-align: center;
        }
        @keyframes slide-center {
          from {
            margin-left: -400px;
          }

          to {
            margin-left: 0;
          }
        }
      }
      &#better_offer{
        margin:30px 0;
        display:flex;
        flex-direction: column;
        align-items:center;
        .between {
          display:flex;
          flex-direction:row;
          align-items:center;
          h2 {
            text-align: center;
            padding: 0 50px;
            font-size: 25px;
            @media all and (max-width: $tablet_width) {
              font-size: 18px;
              padding: 0;
            }
            @media all and (max-width: $mobile_width) {
              font-size: 14px;
              padding: 0;
            }
          }

          .icon {
            background-image: url('../../images/icons/cash.webp');
            background-position: 50%;
            background-repeat: no-repeat;
            background-size: 100%;
            height: 60px;
            max-width: 60px;
            min-width: 60px;
            margin: 0 30px;
          }
        }
        p{
          font-size:18px;
          padding:0 50px;
        }
      }
      &#crypto{
        margin:0;
        font-size:18px;
        line-height:35px;
        justify-content: center;
        >div {
          display:flex;
          flex-flow:row wrap;
          justify-content: center;
          align-items:center;
          width:$main_width;
          @media all and (max-width: $tablet_width) {
            width: 100%;
            p {
              padding: 10px;
            }
          }
          .description {
            width: calc(100% - 325px);
            @include mobile-width();
            .big {
              font-size: 25px;
            }
          }
          .bonus {
            width: 100%;
            padding-right: 120px;
            background-image: url(../../images/icons/champagne.webp);
            @include background-prs(right 5px center, no-repeat, 100px);
          }
          .icons {
            display: flex;
            justify-content: space-around;
            width: 100%;
            max-width: 325px;
            min-height:100px;
            @media screen and (max-width:$tablet_width){
              height: 20vw;
            }
            div {
              max-height: 100px;
              flex: 1 1 100px;
              content:"&nbsp;";
              @include background-prs(center center, no-repeat, contain);
              &.bitcoin {background-image: url(../../images/icons/bitcoin.webp);}
              &.ethereum {background-image: url(../../images/icons/ethereum.webp);}
              &.shiba {background-image: url(../../images/icons/shiba.webp);}
            }
          }
        }
      }
    }
  }
}