#pricing{
  /*#fullscreen-bg{
    top:-1500px;
  }*/
  main{
    align-self:stretch;
    section{
      color:#FAFAFA;
      &.shadow{
        background-color: rgba(0,0,0,.37);
        &.dark{
          background-color: rgba(0,0,0,.67);
        }
      }
      &#prices {
        width: 100%;
        display:flex;
        align-items:center;
        margin: 40px 0 0;
        flex-direction:column;
        > * {
          animation-duration: 2s;
          animation-name: slide-center;
        }
        h1 {
          width: $main_width;
          @include mobile-width();
          margin:0;
          font-size: 20px;
        }
        table {
          width: $main_width;
          font-size: 18px;
          text-align: center;
          table-layout: fixed;
          @media screen and (max-width:$tablet_width){
            width:100%;
            font-size:14px;
          }
          tr {
            height: 35px;
          }
        }
        > p {
          width: $main_width - 30px;
          @include mobile-width(calc(100% - 30px));
          font-style: italic;
          border-bottom: 1px solid #333333;
          padding: 15px;
          font-size: 13px;
          text-align: center;
        }
        @keyframes slide-center {
          from {
            margin-left: -400px;
          }

          to {
            margin-left: 0;
          }
        }
      }
      &#better_offer{
        margin:30px 0;
        display:flex;
        flex-direction: column;
        align-items:center;

        h2 {
          @include sandwich('../../images/icons/cash.webp');
          text-align: center;
          padding: 0 50px;
          font-size: 25px;
          @media all and (max-width: $tablet_width) {
            font-size: 18px;
            padding: 0;
          }
          @media all and (max-width: $mobile_width) {
            font-size: 14px;
            padding: 0;
          }
        }

        p{
          font-size:18px;
          padding:0 50px;
        }
      }
      &#promotions{
        h2{
          text-align:center;
        }
        p{
          padding:0 10px;
        }
      }
      #promos{
        width:100%;
        max-width:$main_width;
        display:flex;
        flex-flow:row wrap;
        justify-content:space-around;
        gap:25px;
        >div{
          max-width:calc((100% - 100px) / 3);
          @media screen and (max-width:$mobile_width){
            max-width:calc(100% - 50px);
          }

          h3{
            letter-spacing:-3px;
            font-size:15px;
            text-align:center;
            border-bottom:1px solid #FFF;
          }
          img{
            width:100%;
          }
        }
      }
    }
  }
}