#program{
  background-image:url(../../images/background/program.webp);
  background-attachment: fixed;
  @include background-prs();
  color:$program_color;
  main{
    width:$main_width;
    @include mobile-width();
    display:flex;
    flex-flow:row wrap;
    justify-content:space-around;
    align-items:flex-start;
    section{
      background-color:rgba(255,255,255,.67);
      @media screen and (min-width:$mobile-width){
        height:338px;
      }
      &.both-sides{
        display:flex;
        flex-direction:row;
        justify-content:space-between;
        align-items:stretch;
        > div {
          display:flex;
          flex-direction:column;
          align-items:flex-start;
          justify-content:space-between;
          font-size:13px;
          padding:15px;
        }
        img{
          overflow:initial;
          word-break:initial;
          @media screen and (max-width:$tablet-width){
            max-width:380px;
          }
        }
      }
      &.column{
        display:flex;
        flex-direction:column;
        justify-content:flex-start;
        align-items:center;
      }
      &.full-width{
        max-width:70%;
        text-align:center;
        font-size:17px;
        font-weight:bold;
        margin:100px 0 70px;
        padding:30px 30px 0;
        @media screen and (max-width:$tablet_width){
          max-width:calc(100% - 60px);
        }
        p{
          margin:5px 0;
          &:last-of-type{
            margin:5px 0 -10px;
          }
        }
        .arrow-next{
          background-image:url(../../images/icons/arrow_down.webp);
          background-size: 100%;
          background-repeat: no-repeat;
          background-position: center center;
          position:relative;
          top: 20px;
        }
      }
      &.half-width {
        max-width: 48.5%;
        margin: 10px 0 0;
        //overflow:hidden;
        @include mobile-width();
        &.column{
          >div {
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items:center;
            padding:15px;
            height:100%;
            font-weight:bold;
          }
        }
        p{
          margin:0;
        }
        .arrow-next{
          background-image:url(../../images/icons/arrow_right.webp);
          z-index:1;
          @media all and (max-width:$tablet_width){
            background-image:url(../../images/icons/arrow_down.webp);
            position: relative;
            top: 50px;
          }
        }
      }
      &.video{
        width:100%;
        height:auto;
        background-color:#000;
        display:flex;
        flex-direction: column;
        align-items:stretch;
        justify-content:center;

        video{
          background-image:url(../../images/video/video_program.webp);
        }
      }
      h1{
        font-size:75px;
        line-height:70px;
        font-family:helvetica,sans-serif;
        color:inherit;
        padding:5px;
      }
      h2{
        font-weight:bold;
        font-size:18px;
        line-height:20px;
        font-family: helvetica, sans-serif;
        text-align:center;
        color:inherit;
      }
      .arrow-next{
        min-height: 70px;
        width: 75px;
      }
    }
    #after-reservation{
      height:auto;
      width:$main_width - 90px;
      max-width:calc(100% - 90px);
      margin:20px 5px;
      padding:30px 40px;
      color:#FFF;
      background-color:rgba(0, 0, 0, .66);
      @media all and (max-width:$tablet_width){
        padding:30px 15px;
        max-width:calc(100% - 40px);
      }
      .kinky{
        display:flex;
        flex-direction:row;
        justify-content:flex-start;
        gap:5px;
        height:60px;
        @media screen and (max-width:$mobile_width){
          height:40px;
        }
        .text{
          align-self:center;
        }
        .icon{
          align-self:flex-start;
        }
      }
      h2{
        text-transform:uppercase;
        font-size:32px;
        line-height:40px;
        text-align:center;
        @media screen and (max-width:$mobile_width){
          font-size:16px;
          line-height:20px;
        }
      }
      h3{
        color:inherit;
        text-transform:uppercase;
        font-size:32px;
        line-height:40px;
        text-align:center;
        @media screen and (max-width:$mobile_width){
          font-size:16px;
          line-height:20px;
        }
      }
      .icon{
        display:inline-block;
        background-repeat:no-repeat;
        background-position:center center;
        background-size:contain;
        height:60px;
        width:140px;
        @media screen and (max-width:$mobile_width){
          height:40px;
          width:75px;
        }
        &.arc-triomphe{background-image:url('../../images/icons/soiree/arc-triomphe.webp');}
        &.bail{background-image:url('../../images/icons/soiree/bail.webp');}
        &.bank{background-image:url('../../images/icons/soiree/bank.webp');}
        &.bill{background-image:url('../../images/icons/soiree/bill.webp');}
        &.check{background-image:url('../../images/icons/soiree/check.webp');}
        &.deposit{background-image:url('../../images/icons/soiree/deposit.webp');}
        &.event{background-image:url('../../images/icons/soiree/event.webp');}
        &.music{background-image:url('../../images/icons/soiree/music.webp');}
        &.now{background-image:url('../../images/icons/soiree/now.webp');}
        &.opera-garnier{background-image:url('../../images/icons/soiree/opera-garnier.webp');}
        &.palais-louvre{background-image:url('../../images/icons/soiree/palais-louvre.webp');}
        &.softs{background-image:url('../../images/icons/soiree/softs.webp');}
        &.tour-eiffel{background-image:url('../../images/icons/soiree/tour-eiffel.webp');}
      }
      p{
        font-size:24px;
        line-height:30px;
        @media screen and (max-width:$mobile_width){
          font-size:15px;
          line-height:18px;
        }
      }
      #monuments{
        display:flex;
        flex-direction:row;
        align-items:flex-start;
        justify-content: space-around;
        width:100%;
        height:45vw;
        max-height:450px;
        div{
          flex-basis:20%;
          height:100%;
          background-position: center bottom;
        }
      }
    }
  }
}