<footer>
    <div class="social-icons">
        <div class="social-icons-instagram"><a href="https://www.instagram.com/busdiscotheque_paris"></a></div>
        <div class="social-icons-facebook"><a href="https://www.facebook.com/wearebusdiscotheque"></a></div>
    </div>
    <ul class="sublinks">
        <li><a href="{{ path('legal') }}">Mentions légales</a></li>
        <li><a href="{{ path('cgv') }}">CGV</a></li>
    </ul>
</footer>