<div id="fullscreen-bg">
    <video muted loop autoplay preload="none" poster="{{ asset('build/images/background/'~ content ~'.webp') }}">
        <source src="{{ asset('build/images/background/'~ content ~'.mp4') }}" type="video/mp4">
    </video>
</div>